/* Specific for dropzone */
.dropzone_widget #dropzone,
.dropzone_widget .dropzone-backup {
  display: none;
}
.dropzone_widget .add-dropzone {
  margin: 10px 20%;
  display: block;
  text-align: center;
  background-color: #222d32;
  color: white;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.dropzone_widget .add-dropzone i {
  margin-right: 10px;
}
.dropzone_widget .add-dropzone:hover {
  background-color: #0d1214;
}
.dropzone_widget .dz-preview {
  position: relative;
  /* Progress bar */
}
.dropzone_widget .dz-preview .dz-remove {
  display: block;
  margin: 5px auto;
  font-size: 14pt;
  color: #c41515;
  text-align: center;
}
.dropzone_widget .dz-preview .dz-details {
  text-align: center;
  padding-top: 20px;
}
.dropzone_widget .dz-preview .dz-details img {
  max-width: 100%;
}
.dropzone_widget .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone_widget .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
.dropzone_widget .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.dropzone_widget .dz-preview .dz-progress {
  position: absolute;
  top: 0px;
  left: 20%;
  right: 20%;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.dropzone_widget .dz-preview .dz-progress .dz-upload {
  display: block;
  bottom: 0;
  background-color: #8cc657;
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
}


@-moz-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
